.App {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(pics/bridgette.jpeg);
  height:100vh;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
}

.Dash{
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(pics/winstonEarth.jpg);
  height:100vh;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
}

.signup{
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(pics/overwatchTeam.jpg);
  height:100vh;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
}

.login{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(pics/overwatch-serious.jpg);
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.format {
  position: absolute;
  left:475px;
  top:175px;
  color: white;
}

.dashboard{
  position: absolute;
  left:535px;
  top:250px;
  color: white;
}
.login2{
  position: absolute;
  left:595px;
  top:250px;
  color: white;

}

.inline{
  position:absolute;
  left: 75px;
}
.second{
  position:absolute;
  right:73px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
